.search-bar-container {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  padding: 10px;
  margin-bottom: 30px;
}

.search-input {
  flex-grow: 1;
  border: none;
  padding: 10px 15px;
  font-size: 1.1em;
  outline: none;
}

.search-input::placeholder {
  color: #aaa;
}

.search-button {
  background-color: var(--primary-blue);
  color: var(--white);
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #121A5E;
}

.search-button .fas {
  font-size: 1.1em;
}

.section-title {
  font-size: 1.6em;
  color: var(--dark-gray-text);
  margin-top: 0;
  margin-bottom: 20px;
}

.disciplinas-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.disciplina-item {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.disciplina-item:hover {
  transform: translateY(-3px);
}

.item-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.item-icon {
  font-size: 30px;
  color: var(--primary-blue);
  margin-right: 15px;
}

.item-subject {
  font-size: 1.3em;
  color: var(--dark-gray-text);
  margin: 0;
  font-weight: bold;
}

.item-code {
  font-size: 0.9em;
  color: #666;
  margin-left: 10px;
}

.item-action-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.item-action-button:hover {
  color: var(--primary-blue);
}

.add-disciplina-item {
  margin-top: 17px;
    background-color: var(--white);
    border: 2px dashed var(--medium-gray-border);
    border-radius: 8px;
    box-shadow: none;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.add-disciplina-item:hover {
    background-color: var(--light-gray-bg);
    border-color: var(--primary-blue);
}

.add-item-content {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.2em;
    color: var(--dark-gray-text);
}

.add-item-content .fas {
    font-size: 1.5em;
    color: var(--primary-blue);
}

.add-item-button {
    font-size: 2em;
    color: var(--primary-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}