<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Minhas Disciplinas</title>
  <link rel="stylesheet" href="../css/geral.css">
  <link rel="stylesheet" href="../css/home.css">
</head>
<body>
  <div class="container">
    <h2>Disciplinas Criadas</h2>
    <ul id="listaDisciplinas"></ul>

    <div class="botoes">
      <button onclick="window.location.href='criar-disciplina.html'">Nova Disciplina</button>
      <button onclick="logout()">Sair</button>
    </div>
  </div>

  <script src="../js/home.js"></script>
</body>
</html>
