<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" href="../css/geral.css">
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>
  <form id="loginForm">
    <h2>Entrar</h2>
    <input type="email" name="email" placeholder="E-mail" required />
    <input type="password" name="password" placeholder="Senha" required />
    <button type="submit">Entrar</button>
    <p><a href="registro.html">Ainda não tem conta? Cadastre-se</a></p>
    <p><a href="../../index.html">← Voltar para a página inicial</a></p>
  </form>

  <script src="../js/login.js"></script>
</body>
</html>
